<template id="java-proj-head">
  <tr>
    <th><b>Project Name</b></th>
    <th><span>Repository</span></th>
    <th>Build Tool</th>
    <th>Java Version</th>
    <th>Path</th>
    <th>Interface</th>
  </tr>
</template>

<template id="java-proj-entry">
  <td><b id="name">NO-NAME</b></td>
  <td><a href="" id="href">NO-HREF</a></td>
  <td><span id="build-tool">NO-BUILD-TOOL</span></td>
  <td><span id="version">NO-VER</span></td>
  <td><span id="path">NO-</span>path</td>
  <td><span id="interface">NO-INTERFACE</span></td>
</template>
